.hero{

min-height:100vh;

display:flex;

justify-content:space-between;

align-items:center;

padding:120px 80px;

background:#090C18;

overflow:hidden;

}

.left{

width:55%;

}

.right{

width:45%;

display:flex;

justify-content:center;

}

.tag{

color:#7C5CFC;

letter-spacing:5px;

margin-bottom:25px;

font-weight:600;

}

h1{

font-size:72px;

color:white;

line-height:1.05;

margin-bottom:30px;

}

.desc{

color:#BFC4D7;

font-size:20px;

line-height:1.8;

max-width:650px;

margin-bottom:40px;

}

.buttons{

display:flex;

gap:20px;

}

.primary{

background:#FF3B5F;

}

.secondary{

background:transparent;

border:1px solid rgba(255,255,255,.2);

}

.right img{

width:520px;

border-radius:20px;

}